[*.cs]

# CS8600: Se va a convertir un literal nulo o un posible valor nulo en un tipo que no acepta valores NULL
dotnet_diagnostic.CS8600.severity = suggestion

# CS8602: Desreferencia de una referencia posiblemente NULL.
dotnet_diagnostic.CS8602.severity = suggestion

# CS8603: Posible tipo de valor devuelto de referencia nulo
dotnet_diagnostic.CS8603.severity = none
